<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/addWord.css">
    <title>Word Manager</title>
</head>
<body>
    <nav>
        <div class="container">
            <header class="header">
                <ul class="nav-pills">
                    <li class="nav-item"><a href="mainPage.html" class="nav-link" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="addWords.html" class="nav-link active">Add words</a></li>
                    <li class="nav-item"><a href="displayWords.html" class="nav-link">Learn words</a></li>
                    <li class="nav-item"><a href="quizWords.html" class="nav-link">Quiz</a></li>
                    <li id="register-button"><a href="register.html" class="nav-link">Register</a></li>
                    <li id="login-button"><a href="login.html" class="nav-link" >Log in</a></li>
                    <li id="logout-button"><a href="#" class="nav-link" >Logout</a></li>
                </ul>
            </header>
        </div>
    </nav>

    <h1>Create new set</h1>
    <form id="setForm">
        <label for="set_name">set name:</label>
        <input type="text" id="setName" name="word" required><br><br>
        <button type="submit">add set</button>
    </form>

    <script src="scripts\addFlashcardSet.js"></script>
    <script src="scripts\logedUser.js"></script>

</body>
</html>
