<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/addWord.css">
    <title>Word Manager</title>
</head>
<body>
    <nav>
        <div class="container">
            <header class="header">
                <ul class="nav-pills">
                    <li class="nav-item"><a href="mainPage.html" class="nav-link" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="addWords.html" class="nav-link active">Add words</a></li>
                    <li class="nav-item"><a href="displayWords.html" class="nav-link">Learn words</a></li>
                    <li class="nav-item"><a href="quizWords.html" class="nav-link">Quiz</a></li>
                </ul>
            </header>
        </div>
    </nav>

    <h1>Add a New Word</h1>
    <form id="wordForm">
        <label for="word">Word:</label>
        <input type="text" id="word" name="word" required><br><br>
        <label for="definition">Definition:</label>
        <input type="text" id="definition" name="definition" required><br><br>
        <button type="submit">Add Word</button>
    </form>

    <script src="scripts\addWordsScript.js"></script>
</body>
</html>
