<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="styles/header.css">
    
</head>
<body>
    <nav>
        <div class="container">
            <header class="header">
                <ul class="nav-pills">
                    <li class="nav-item"><a href="mainPage.html" class="nav-link active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="addWords.html" class="nav-link">Add words</a></li>
                    <li class="nav-item"><a href="displayWords.html" class="nav-link">Learn words</a></li>
                    <li class="nav-item"><a href="quizWords.html" class="nav-link">Quiz</a></li>
                    <li class="nav-item" id="register-button"><a href="register.html" class="nav-link" style="display:none;">Register</a></li>
                    <li class="nav-item" id="login-button"><a href="login.html" class="nav-link" style="display:none;">Log in</a></li>
                    <li class="nav-item" id="logout-button"><a href="login.html" class="nav-link">Logout</a></li>
                </ul>
            </header>
        </div>
    </nav>

    <script src="scripts\logedUser.js">
</body>
</html>
