<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/quizWords.css">
    <title>Word Quiz</title>
    <style>
        
    </style>
</head>
<body>
    <nav>
        <div class="container">
            <header class="header">
                <ul class="nav-pills">
                    <li class="nav-item"><a href="mainPage.html" class="nav-link" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="addWords.html" class="nav-link ">Add words</a></li>
                    <li class="nav-item"><a href="displayWords.html" class="nav-link">Learn words</a></li>
                    <li class="nav-item"><a href="quizWords.html" class="nav-link active">Quiz</a></li>
                    <li id="register-button"><a href="register.html" class="nav-link">Register</a></li>
                    <li id="login-button"><a href="login.html" class="nav-link" >Log in</a></li>
                    <li id="logout-button"><a href="#" class="nav-link" >Logout</a></li>
                </ul>
            </header>
        </div>
    </nav>

    <h1>Word Quiz</h1>
    <div id="quizContainer"></div>

    <script src="scripts\quizWords.js"></script>
    <script src="scripts\logedUser.js"></script>

</body>
</html>
